.bg-container {
    background-color: #ffc2a0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.todos-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
}
.heading {
    color: #ff8542;
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto";
    text-align: center;
}
.list-container {
    list-style-type: none
}